# 先忽略根目录全部内容
/*

# 放行指定目录
!/app/
!/caipu_crawler/
!/crawler/

# 放行指定单文件
!/app.py

# crawler内仅保留指定py，其余全部忽略
/crawler/*
!/crawler/批量添加菜谱封面图片.py
!/crawler/video_crawler.py
!/crawler/SDBZ.py
!/crawler/remote_process.py
!/crawler/crawl_food_images.py
!/crawler/train_yolov8.py
!/crawler/菜谱口味智能调整脚本.py